* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Play", sans-serif;
    color: rgb(226, 138, 6)
}



body {
    height: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
a,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.wrapper {
    margin: 0 auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: black;
}

aside {
    padding: 2rem;
    height: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    
}

.menu {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    font-size: 3rem;
}

.logo {
    font-size: 2rem;
}

.boton-barra {
    padding-top: 0;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

main {
    margin: 1rem;
    padding: 2rem;
}

.contenedor-productos {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

}

.producto-imagen {
    max-width: 100%;
    border: 2px solid rgb(226, 138, 6);
    border-radius: 1rem;
}

.producto-info {
    border: 2px solid rgb(226, 138, 6);
    border-radius: 1rem;
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;

}

.titulo-productos {
   align-self: center;
}

.producto-titulo {
    font-size: 1rem;
}

.producto-comprar {
    color: black;
    border-radius: 1rem;
    border: 2px solid rgb(226, 138, 6);
    ;
    background-color: rgb(226, 138, 6);
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.producto-comprar:hover {
    background-color: black;
    color: rgb(226, 138, 6);
}

.active {
    color: black;
    background-color: rgb(226, 138, 6);
    border-radius: 1rem;
}

.boton-barra:hover {
    border: 2px solid rgb(226, 138, 6);
    border-radius: 1rem;
}

.icono {
    padding: 0.5rem;
}

.active .icono {
color: black;
}


/* -------------------CARRITO VACIO------------------ */

.carrito-vacio {

    margin-top: 2rem;
}

.contenedor-carrito {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(226, 138, 6);
    border-radius: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: 0.75rem;
}


.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.carrito-opciones {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.carrito-vaciar,
.carrito-comprar-boton {
   
    background-color: transparent;
    border: solid 2px rgb(226, 138, 6);
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    
}

.carrito-comprar {
    display: flex;
}

.carrito-comprar-total {
    display: flex;
    border: solid 2px rgb(226, 138, 6);
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 2rem;
    gap: 1rem;
}

.disabled {
    display: none;
}


